{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href=="{% static 'css/reset-style.css' %}" rel="stylesheet" type="text/css" />
  <title>Spasitelé Djanga</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
    <div class="container p-5 my-5 border text-center fw-bold">
        <p>Hello TdA</p>
    </div>
    <div class="container p-5 my-5 border text-center fw-bold">
      <p><b>Json Output</b></p>
      <hr>
      <p id="json-content"></p>
  </div>
    <script type="text/javascript" src="{% static 'javascript/display_json.js' %}" input-json="{% static 'jsonFiles/cake.json' %}"></script>
</body>

</html>