{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizitka</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/reset-style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-light bg-custom">
        <div class="text-white">
            <a>Tour de App</a>
        </div>
    </nav>
    <div class="border border-secondary border-2 rounded">
        <div class="lecturer text-center">
        Border ve kterem bude info
        </div>
    </div>
</body>
</html>