body{ background-color: #333333;}
.bg-custom{
    background-color: #74C7D3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tda-logo img {
    width: 110px;
    height: 90px;
}
.custom-border{
    border-style: solid;
    border-width: 5px;
    border-color:#333333 ;
    background-color: #74C7D3;
}
.c-card-1{
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #74C7D3;
    max-width: 600px;
    border-radius: 20px;
}
.c-card-2{
    margin-top: 50px;
    text-align: center;
    background-color: #333333;
    color: #FECB2E;
}
.custom-border{
    border-radius: 15px;
    border-color: #333333;
}
.card-img{
    border-radius:50%;
}
.bg-tags{
    background-color: #333333;
    border-radius: 15px;
    border-color: #333333;
    color: #FECB2E;
    margin-bottom: 15px;
}
.badge{
    background-color: #00384D;
    color: #FECB2E;
    margin: 10px;
}